@import url('https://fonts.googleapis.com/css?family=Varela+Round');
.App {
  text-align: center;
}

.Main-Container{
  text-align: center;
  padding: 5px;
  font-family: 'Varela Round';
}

button {
    display: inline;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: #A1D2E2;
    color: #3A9BBB;
    width: 100px;
    height: 30px;
    border-radius: 15px;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 15px;
    margin-left: 10px;
}

input{
  display: inline;
  background-color: white;
  width: 250px;
  height: 30px;
  border-radius: 15px;
  margin-bottom: 15px;
  padding-left: 10px;
  font-size: 0.8rem;
}

select{
  display: inline;
  background-color: white;
  width: 250px;
  height: 20px;
  border-radius: 15px;
  margin-bottom: 15px;
  padding-left: 5px;
  margin-left: 5px;
  font-size: 1rem;
}

label{
  padding: 10px;
  color: #2CA06C;
  font-weight: 600;
  font-size: 1rem;
}

h3{
  font-size: 1.2rem;
}

